$main-color: rgb(26, 17, 159);
$secondary-color: rgb(139, 139, 169);
$third-color: rgb(116, 164, 12);
$fourth-color: rgb(50, 10, 87);

$border-width: 2px;
$border-property: 2px dashed red;
$padding: 10px;
